:root {
  --dark-blue-color: #1a57a1;
  --light-blue-color: #1fa7e1;
  --red-color: #f0171a;
  --black-color: #161616;
  --body-color: #eceaea8d;
  --white-color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #14447e;
}

::-webkit-scrollbar-track {
  background: var(--body-color);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-blue-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Almarai", serif;
  direction: rtl;
  background-color: var(--body-color);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.bg-section {
  background-color: #c0c9d0;
}


/* *SECTION - Navbar */
/*! Start Navbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

nav {
  background-color: var(--white-color);
  width: 100%;
  padding: .8rem 3rem;
  z-index: 9999;
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);

  .app-logo {
    width: 9%;

    a img:nth-child(1) {
      width: 150px;
    }
  }

  .nav-links {
    gap: 2rem;

    li {
      padding: 1.2rem 4rem;
      position: relative;
      cursor: pointer;

      a {
        color: var(--black-color);
        font-size: 1.4rem;
        font-weight: bold;
        transition: .5s;
      }
    }

    li::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 4px;
      background-color: var(--red-color);
      transition: .6s;
      border-radius: 6px;
    }

    li:hover::before,
    li.active::before {
      width: 60%;
      right: 50%;
      transform: translateX(50%);
    }

    li:hover a,
    li.active a {
      color: var(--light-blue-color);
    }
  }
}

@media (max-width: 1483px) {
  nav {
    padding: 1rem 5rem;
    overflow: hidden;

    .app-logo {
      width: 13%;
      padding: 0;
    }

    .nav-links {
      background-color: var(--dark-blue-color);
      opacity: 0;
      visibility: hidden;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      flex-direction: column;
      position: absolute;
      top: 150%;
      left: 20%;
      width: 50%;
      z-index: -4;
      transition: .6s;

      li a {
        color: var(--white-color) !important;
      }
    }

    .burger-icon {
      i {
        font-size: 2rem;
        color: var(--dark-blue-color);
      }
    }

    .burger-icon {
      display: inline-block;
      cursor: pointer;
      transition: .2s;
    }

    .burger-icon.clicked {
      background-color: #49b8e857;
      padding: .6rem .8rem;
      border: 1px solid var(--dark-blue-color);
      border-radius: 8px;
    }

    .nav-links.active {
      opacity: 1;
      visibility: visible;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 20%;
      transform: translateX(-30%);
      width: 60%;
      z-index: 4;
    }

    .nav-links li:nth-child(1) {
      margin-top: 1rem;
    }

    .nav-links li:nth-child(4) {
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 776px) {
  nav {
    padding: 1rem 2rem;

    .app-logo {
      width: 16%;
      padding: 0;
    }
  }
}

/*! End Navbar */




/* *SECTION - About-main-section */
.about-main-section-breif::before {
  content: '';
  position: absolute;
  background-color: var(--red-color);
  width: 3px;
  height: var(--before-height, 0px);
  right: -20px;
  transition: height 2s ease-in-out;
  transition-delay: 1s;
}

.about-main-section-breif h3,
.about-main-section-breif h5,
.about-main-section-breif p {
  transform: translateX(100px);
  opacity: 0;
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.about-main-section-breif h5 {
  transition-delay: 0.3s;
}

.about-main-section-breif p {
  transition-delay: 0.5s;
}


#about-main-section div svg {
  position: absolute;
  width: 150px;
  left: -100px;
  bottom: -120px;
  opacity: 0.67;
}

/* *LINK - Services */
.about-main-title::before,
.about-main-title::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 4px;
  background-color: var(--dark-blue-color);
  top: 50%;
  transform: translateY(-50%);
  transition: all .7s ease-in-out;
}

.about-main-title::before {
  left: var(--before-left, -70px);
}

.about-main-title::after {
  right: var(--after-right, -70px);
}

.about-problems {
  background-color: #eeeeee;
}

.about-problems h4::before,
.about-solution h4::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: var(--red-color);
  right: -20px;
}

.about-solution h4::before {
  background-color: var(--dark-blue-color);
}

.about-solution {
  background-color: #efefef;
  opacity: 0;
  transform: translateX(75px);
  transition: opacity ease-in-out, transform ease-in-out;
  transition-duration: 1.2s;
}


.about-pic {
  content: '';
  background-image: url(./images/arrow.png);
  width: 150px;
  height: 150px;
  position: absolute;
  transform: rotate(266deg) scaleY(-1);
  top: 53%;
  right: 20%;
}

#about-services svg {
  position: absolute;
  width: 150px;
  height: 150px;
  right: 25px;
  bottom: -180px;
  opacity: 0.75;
}

/* *SECTION - Member cards */
.about-member-card {
  background-color: #fff;
}

.about-member-card:hover h5::before {
  right: -15px;
}

.about-member-card:hover p {
  color: var(--dark-blue-color);
}

.about-member-card h5::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: var(--dark-blue-color);
  right: -100px;
  transition: all 0.6s ease-in-out;
}


/**SECTION -  Up Btn */
button.about-up-btn {
  opacity: 0;
  display: none;
  background-color: var(--red-color);
  transition: all 0.5s ease-in-out;
  bottom: 20px;
}

button.about-up-btn:hover {
  transform: translateY(-15px);
}

/* *SECTION - Footer */

.footer-social {
  color: var(--red-color);
}

.footer-social i {
  box-shadow: 0px 5px 8px 0px #99999996;
  transition: box-shadow 0.5s ease-in-out, transform 0.35s ease-in-out;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social i:hover {
  transform: translateY(-8px);
  box-shadow: 0px 5px 1px 0px #33333396;
}

/* *SECTION - Media screens */
@media screen and (max-width:640px) {
  .footer-social {
    padding-right: 3.5rem;
  }
}

@media screen and (max-width:500px) {
  .about-services .card {
    padding-left: 1.2rem;
    padding-right: 3rem;
  }
}